body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

.typing-text {
    overflow: hidden;
    border-right: .15em solid #fff; /* Adjust thickness and color as needed */
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff; /* Adjust color as needed */
    }
}
